.sidebar {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(233, 128, 128);
  border-radius: 5px;
  height: fit-content;
  width: 100%;
}

.sidebar h3 {
  color: rgb(236, 96, 96);
}

.sidebar a {
  text-decoration: none;
  color: rgb(236, 96, 96);
}
.sidebar a {
  color: rgb(240, 27, 27);
}
