.main-container {
  max-width: 1000px;
  margin: auto;
}
@media all and (min-width: 850px) {
  main {
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 20px;
  }

  .sadržaj {
    grid-column: 1;
  }

  FavoritiLista {
    grid-column: 2 / span 1;
  }
}
